/*
Contents are ordered by
- Variables
- Core element changes
- Helper & Structure classes
- Item classes
- Media queries
- Color changes
- misc
*/

:root {
  --white: #ffffff;
  --black: #000000;
  --lightblue: #c7ddea;
  --orange: #f17949;
  --amber: #fab131;
  --lightgray: #ebebeb;
  --gray: #a9a19e;
  --mediumgray: #50585e;
  --darkgray: #777574;
  --wrapper-width: 1120px;
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 992px;
  --breakpoint-desktop: 1200px;
}

/* @font-face {
  font-family: 'FiraSansRegular';
  src: url('/assets/fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'FrankRuhlLibreRegular';
  src: url('/assets/fonts/FrankRuhlLibre-Regular.ttf');
} */

*, ::after, ::before {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: var(--mediumgray);
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frank Ruhl Libre', serif;
  color: var(--black);
}

h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin: 20px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin: 20px 0;
}

a, button, [href] {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

section, footer {
  padding: 0.1px;
}

.is-fullsize {
  min-height: 100vh;
  padding: 0.01em;
}

.is-hidden-mobile {
  visibility: visible;
}

.is-hidden-desktop {
  visibility: visible;
}

.unclickable {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.p1 {
  padding: 1rem;
}

.pv1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pv2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pv3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pv4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pv5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ph3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.ph4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.ph5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {

}

.flex-item {
  flex: 1 1 calc(var(--breakpoint-mobile)/2);
  justify-content: center;
}

.flex-item-3by3 {
  flex: 1 1 calc(900px/3);
  justify-content: center;
}

.wrapper {
  max-width: var(--wrapper-width, 1170px);
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  padding: 6rem calc(50% - 150px);
}

.content.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-large {
  font-size: 20px;
  line-height: 1.8;
}

.text-small {
  font-size: 14px;
  line-height: 1.8;
}

.text {
  line-height: 1.8;
}

.center {
  text-align: center;
}

.cards {
  justify-content: center;
}

.card {
  width: 340px;
  height: 440px;
  margin: 12px 6px;
  padding: 1rem 0;
  position: relative;
  background-color: transparent;
}

.card>.card-image {
  position: absolute;
  top: 0;
  height: 200px;
  width: 300px;
  z-index: 9;
  margin-left: calc(40px/2);
  overflow: hidden;
}

.card-image>img {
  display: block;
  width: 100%;
  transform: scale(0.4);
  margin: -150px 0 0 10px;
}

.card>.card-body {
  background-color: var(--white);
  height: 90%;
  width: inherit;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
}

.card-title {
  line-height: 1.8;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.card-content {
  margin-top: 160px;
  padding: 1px 20px;
  color: var(--gray);
}

.info-box::before {
  content: attr(data-number);
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 38px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
  color: var(--black);
  opacity: 0.5;
}

.info-box {
  position: relative;
  padding: 4.5rem 4rem;
  text-align: center;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 52px;
  margin: 0;
}

.nav-button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 22px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.nav-button:not(.selected) {
  color: var(--gray);
}

.button {
  padding: 0.85em 2.4em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 0.2s;
  border-radius: 2em 2em;
  font-family: "Fira Sans";
  text-transform: uppercase;
}

.button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.nav-button:hover {
  background-color: #385668;
  color: var(--orange);
}

.nav-button:active {
  background-color: #1d2931;
  color: var(--orange);
}

.background-family {
  background: url('../family.png') no-repeat right bottom;
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-size: 300px auto;
  padding-bottom: 12rem;
}

.manbaby {
  background: url('../man-and-baby.png') no-repeat right bottom;
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-size: 300px auto;
  min-height: 500px;
}

.p1-2 {
  padding: 1rem 1.2rem;
}

@media (max-width: 768px) {
  .is-hidden-mobile {
    visibility: hidden;
    display: none;
  }

  .content {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding: 1rem 2rem;
  }

  .pvm9{
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@media (min-width: 1170px) {
  .is-hidden-desktop {
    visibility: hidden;
    display: none;
  }
}

.highlight {
  font-style: normal;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.orange {
  color: var(--orange);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-lightgray {
  background-color: var(--lightgray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-darkgray {
  background-color: var(--darkgray);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-amber {
  background-color: var(--amber);
}