/*
Contents are ordered by
- Variables
- Core element changes
- Helper & Structure classes
- Item classes
- Media queries
- Color changes
- misc
*/

:root {
  --white: #ffffff;
  --blankwhite: #f9f9f9;
  --black: #000000;
  --blankblack: #090909;
  --lightblue: #c7ddea;
  --orange: #f17949;
  --amber: #fab131;
  --lightgray: #ebebeb;
  --gray: #a9a19e;
  --mediumgray: #50585e;
  --darkgray: #777574;
  --primary: #c7ddea;
  --wrapper-width: 1120px;
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 992px;
  --breakpoint-desktop: 1200px;
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --spacing1: .25rem;
  --spacing2: .5rem;
  --spacing3: 1rem;
  --spacing4: 2rem;
  --spacing5: 4rem;
  --spacing6: 8rem;
  --spacing7: 16rem;
}

/* @font-face {
  font-family: 'FiraSansRegular';
  src: url('/assets/fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'FrankRuhlLibreRegular';
  src: url('/assets/fonts/FrankRuhlLibre-Regular.ttf');
} */

*, ::after, ::before {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: var(--mediumgray);
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frank Ruhl Libre', serif;
  color: var(--black);
}

h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin: 20px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  margin: 20px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a, button, [href], input[type=submit] {
  cursor: pointer;
}

input[type=submit]:hover {
  color: var(--orange);
}

input[type=submit]:active {
  background-color: var(--mediumgray);
}

ul, li {
  list-style: none;
}

input, label, .input {
  display: block;
}

input, .input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #f9f9f9;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

section, footer {
  padding: 0.1px;
}

.is-fullsize {
  min-height: 100vh;
  padding: 0.01em;
}

.is-hidden-mobile {
  visibility: visible;
}

.is-hidden-desktop {
  visibility: visible;
}

.unhighlightable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unclickable {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

.mb3 {
  margin-bottom: var(--spacing3);
}

.p1 {
  padding: var(--spacing1)
}

.pv1 {
  padding-top: var(--spacing1);
  padding-bottom: var(--spacing1);
}

.pv2 {
  padding-top: var(--spacing2);
  padding-bottom: var(--spacing2);
}

.pv3 {
  padding-top: var(--spacing3);
  padding-bottom: var(--spacing3);
}

.pv4 {
  padding-top: var(--spacing4);
  padding-bottom: var(--spacing4);
}

.pv5 {
  padding-top: var(--spacing5);
  padding-bottom: var(--spacing5);
}

.pv6 {
  padding-top: var(--spacing6);
  padding-bottom: var(--spacing6);
}

.pv7 {
  padding-top: var(--spacing7);
  padding-bottom: var(--spacing7);
}

.ph1 {
  padding-left: var(--spacing1);
  padding-right: var(--spacing1);
}

.ph2 {
  padding-left: var(--spacing2);
  padding-right: var(--spacing2);
}

.ph3 {
  padding-left: var(--spacing3);
  padding-right: var(--spacing3);
}

.ph4 {
  padding-left: var(--spacing4);
  padding-right: var(--spacing4);
}

.ph5 {
  padding-left: var(--spacing5);
  padding-right: var(--spacing5);
}

.ph6 {
  padding-left: var(--spacing6);
  padding-right: var(--spacing6);
}

.ph7 {
  padding-left: var(--spacing7);
  padding-right: var(--spacing7);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container>.column {
  float: left;
}

.flex-item {
  flex: 1 1 calc(var(--breakpoint-mobile)/2);
  justify-content: center;
}

.flex-item-3by3 {
  flex: 1 1 calc(900px/3);
  justify-content: center;
}

.wrapper {
  max-width: var(--wrapper-width, 1170px);
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  padding: 6rem calc(50% - 150px);
}

.content.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-large {
  font-size: 20px;
  line-height: 1.8;
}

.text-small {
  font-size: 14px;
  line-height: 1.8;
}

.text {
  line-height: 1.8;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.hide {
  visibility: hidden;
  display: none;
}

.cards {
  justify-content: center;
}

.card {
  width: 340px;
  height: 440px;
  margin: 12px 6px;
  padding: 1rem 0;
  position: relative;
  background-color: transparent;
}

.card>.card-image {
  position: absolute;
  top: 0;
  height: 200px;
  width: 300px;
  z-index: 9;
  margin-left: calc(40px/2);
  overflow: hidden;
}

.card-image>img {
  display: block;
  width: 100%;
  transform: scale(0.4);
  margin: -150px 0 0 10px;
}

.card>.card-body {
  background-color: var(--white);
  height: 90%;
  width: inherit;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
}

.card-title {
  line-height: 1.8;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.card-content {
  margin-top: 160px;
  padding: 1px 20px;
  color: var(--gray);
}

.info-box::before {
  content: attr(data-number);
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 38px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
  color: var(--black);
  opacity: 0.5;
}

.info-box {
  position: relative;
  padding: 4.5rem 4rem;
  text-align: center;
}

.nav-buttons {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.nav-button {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 22px;
}

.nav-button:not(.selected) {
  color: var(--gray);
}

.nav-button:hover {
  background-color: #385668;
  color: var(--orange);
}

.nav-button:active {
  background-color: #1d2931;
  color: var(--orange);
}

.button {
  padding: 0.85em 2.4em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 0.2s;
  border-radius: 2em 2em;
  font-family: "Fira Sans";
  text-transform: uppercase;
}

.button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: var(--blankblack);
  transition: opacity 800ms, visibility 1000ms;
  visibility: hidden;
  opacity: 0;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal>.close {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 32px;
}

.modal>.close:hover {
  color: var(--orange);
}

.background-family {
  background: url('../family.png') no-repeat right bottom;
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-size: 300px auto;
  padding-bottom: 12rem;
}

.manbaby {
  background: url('../man-and-baby.png') no-repeat right bottom;
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-size: 300px auto;
  min-height: 500px;
}

/* input[data-label]::before{

} */

.p1-2 {
  padding: 1rem 1.2rem;
}

@media (max-width: 768px) {
  .is-hidden-mobile {
    visibility: hidden;
    display: none;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding: 1rem 2rem;
  }
  .container {
    max-width: 480px;
  }
  .pvm9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@media (min-width: 769px) {
  .is-hidden-desktop {
    visibility: hidden;
    display: none;
  }
}

.highlight {
  font-style: normal;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.orange {
  color: var(--orange);
}

.lightgray {
  color: var(--lightgray);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-lightgray {
  background-color: var(--lightgray);
}

.bg-mediumgray {
  background-color: var(--mediumgray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-darkgray {
  background-color: var(--darkgray);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-amber {
  background-color: var(--amber);
}

#visit_card {
  margin-top: 2rem;
  margin-left: 2rem;
  max-width: 340px;
  border-radius: 2px;
}

#visit_card>h2 {
  word-spacing: -0.10em;
}

#marker {
  width: 100px;
  height: 100px;
  border-color: var(--orange);
  border-width: 20px;
  border-style: solid;
  position: absolute;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(-45deg);
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}

#take_me_up {
  padding: 20px 0;
  margin: 0;
  position: relative;
}

#take_me_up:hover {
  color: var(--primary);
}

#take_me_up::before {
  content: "^";
  font-weight: 100;
  font-size: 42px;
  left: calc(50% - 12px);
  top: 0;
  position: absolute;
}